@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    background-color: #fcfcfc;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .form-container{
    width: 800px;
    background-color: #fff;
    box-shadow: 4px 4px 10px 6px rgba(0,0,0,0.08);
    display: grid;
    border-radius: 10px;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}
.form-container form{
    padding: 30px;
}
form .fields input{
    margin: 15px 0;
    display: block;
    width: 100%;
    padding: 13px 15px;
    border-radius: 5px;
    border: none;
    background-color: #fcfcfc;
    border: 2px solid  #f4f4f4;
    transition: all .2s;
    outline: none;
}
form .fields input:focus{
    border: 2px solid rgb(5, 44, 73);
}
form .socials{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0;
}
.socials .social{
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s;
}
.socials .social:hover{
    background-color: black;
    color: white;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
form h1{
    font-size: 2em;
    color: rgb(5, 44, 73);
}
form .btn-submit{
    padding: 13px 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    background-color: rgb(5, 44, 73);
    color: white;
}
form .links{
    margin-top: 20px;
}
.links .link a{
    color: rgb(5, 44, 73);
}